.container {
  text-align: center;
  display: flex;
	align-items: center;
	justify-content: center;
  height: 100%;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

textarea {
  min-height: 2.7rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: #F7F9FB !important;
}

input[type='password'] {
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: #F7F9FB !important;
}

::placeholder {
  color: #eee !important;
}

.lisk-sticker img {
  background-color: #F7F9FB;
  object-fit: cover;
  width: 500px;
  height: 200px;
  object-position: 50% 50%;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}

.lisk-address-icon img {
  background-color: #F7F9FB;
  object-fit: contain;
  width: 500px;
  height: 150px;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.signed-info {
  padding: 5px 10px;
  font-size: 0.7rem;
}

ion-slide {
  padding-bottom: 25px;
}

ion-slides .swiper-pagination-bullet-active {
  background-color: #254898 !important;
  opacity: 1 !important;
}

ion-slides .swiper-pagination-bullet {
  background-color: #254898;
  opacity: 0.5;
}

ion-card .lisk-address {
  background-color: #e8edf1;
  color: #0C152E !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 5px 10px;
}

ion-card .ion-card-body {
  background-color: #254898;
  max-width: 500px !important;
  padding: 0px !important;
}

ion-card-title,
ion-card-subtitle {
  color: #F7F9FB !important;
}

ion-card-title ion-icon {
  position:absolute;
  top: 2px;
  left: calc(50% - 55px);
  color: rgb(43, 172, 97);
}

ion-textarea {
  background-color: rgba(255, 255, 255, 0.15) !important;
  border-bottom: 1px solid #fff !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  min-height: 2.7rem !important;
  max-height: 9rem !important;
}

ion-input {
  background-color: rgba(255, 255, 255, 0.15) !important;
  border-bottom: 1px solid #fff !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  min-height: 2.7rem !important;
}

.swal2-confirm {
  background-color: #2c5dd1 !important;
}

.swal2-popup {
  background-color: #f5f6f9 !important;
}

.swal2-popup button {
  width: 80%;
  padding: 15px;
}

@media (prefers-color-scheme: dark) {
  .lisk-sticker img,
  .lisk-address-icon img {
    background-color: #2f3d64;
  }

  ion-card .lisk-address {
    background-color: #222e50;
    color: #F7F9FB !important;
  }

  ion-slides .swiper-pagination-bullet-active {
    background-color: #F7F9FB !important;
    opacity: 1 !important;
  }
  
  ion-slides .swiper-pagination-bullet {
    background-color: #F7F9FB;
    opacity: 0.5;
  }

  .swal2-popup {
    background-color: #2b3038 !important;
  }
  .swal2-title {
    color: #F7F9FB !important;
  }
  .swal2-html-container {
    color: #F7F9FB !important;
  }
}